@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quantico&display=swap');

body {

    background-color: black;
    background-image: url("https://www.transparenttextures.com/patterns/hixs-evolution.png");
    font-family: 'Quantico', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}